src/main/java/net/wood/jndi/EphemeralContext/initialContext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : initialContext.xsd
    Created on : January 18, 2012, 9:14 PM
    Author     : mhwood
    Description:
        Schema for net.wood.jndi.EphemeralContext initial content.
-->

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
    <xsd:element name='initialContext' type='initialContextType'/>
    <xsd:element name='context' type='contextType'/>
    <xsd:element name='object' type='objectType'>
</xsd:schema>
